.modal-content{
	/*background: #52ac2d;*/
    background: #b5b5b5;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}
.modal-title{
    font-size: 23px;
    font-style: italic;
    text-align: center;
}
.modal-header{
	border-bottom: 0px;	
}
.modal-body{
	text-align: center;
	padding: 70px;
}
.modal-body p{
	font-size: 14px;
	font-style: italic;
}
.modal-body h1{
	font-size: 20px;
}
.modal-body img{
	/*width: 70px;*/
    width: 50%;
	height: auto;
}
.modal-footer{
	border-top: 0px;		
}
.modal-backdrop{
	background-color: white;
}
.modal-dialog{
    padding-top: 17vh;
}
